### Imports

##### Data
 - from pydataset import data


##### Data Manipulation
 - import numpy as np


##### Math
 - import math
 - import matplotlib.pyplot as plt
 - import scipy.stats as stats


##### Data Vizualization
 - import seaborn as sns
  


##### Unsorted
- %matplotlib inline
- import pandas as pd
- import viz

##### Convert column names to lowercase

    df.columns = df.columns.str.lower()

##### Replace column names spaces with underscores

    df.columns = df.columns.str.replace(' ', '_')

##### Convert all column names to lowercase AND replace spaces with underscores

    df.columns = df.columns.str.lower().str.replace(' ', '_')

##### Load datasets from pydataset

    from pydataset import data
    
    data()

##### Check for NaNs

    np.isnan(df).any()
    
##### Convert NaN to number
    
    np.nan_to_num(df)
  

##### Check for infs
    np.isinf(df.total_charges).any()

##### Import a dataset from SQL

In [ ]:
# import

from env import user, password, host

In [ ]:
# call

def get_db_url(user, host,password, db):
    url = f'mysql+pymysql://{user}:{password}@{host}/{db}'
    return url

In [ ]:
# establish url

url = get_db_url(user, host, password, 'db')

In [ ]:
# establish df

df = pd.read_sql('select * from db', url)

### Symbols

##### H$_0$

In [9]:
# H$_0$

##### H$_a$

In [10]:
# H$_a$

##### μ

In [11]:
# \mu TAB

##### α

In [14]:
# \alpha TAB, TAB
# start typing \alpha and press tab to get drop down menu, press tab again to change to alpha symbol

In [ ]:
t_test - Two groups of continuous variables
    -mean/avg

pearsonr - Continuous variable vs continuous variable
    - linear 

chi_2 - Categorical variable vs categorical variable
    - proportions

### Statistics Functions

##### stats.pearsonr(a, b)

https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.pearsonr.html

Input:

    (stats.pearsonr(a, b))

Output:

    r_value, p_value

##### stats.ttest_1samp()
- A test for the H$_0$ that the expected mean of a sample of independent observations a, is equal to the given population mean, popmean.


- For reference and to see more input possibilities 
   https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.ttest_1samp.html
    
Input:

    stats.ttest_1samp(a, pop_mean)
        a = sample observation
        pop_mean = mean of sample population
 
Output: 

    (t_statistic, p_value)

##### stats.chi2_contingency()

- This function computes the chi-square statistic and p-value for the hypothesis test of independence of the observed frequencies in the contingency table observed.

https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.chi2_contingency.html

input:

    stats.chi2_contingency()

output:
    
    (chi2, p_value, dof, expected_freq)